.banner {
    background: url(
        https://media.cntraveler.com/photos/5e45984fa007f90008d5bb00/16:9/w_1600%2Cc_limit/Hoshinoya-SHINOYA%2520Guguan-Taiwan-2020-5.jpg
        ) center center;
    height: 55vh;
    position: relative;
}

.banner__info {
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 330px;
}

.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__searchButton {
    background-color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner__info > h5 {
    margin-top: 10px;
}

.banner__info > button:hover{
    background-color: white;
    color: #ff7779;
}